.section-my-courses {

display: flex;
flex-direction: column;
align-items: center;
height: 80vh;

}

.my-courses-user-without-course-img {

width: 500px;
height: auto;

}

.my-courses-paragraf {

font-size: 35px;

}

.my-courses-button {

background-color: yellow;
padding: 10px 20px;
border-radius: 10px;

}

.wrapper-my-courses {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
bottom: 50px;


}