.wrapper-private-acc-settings {

display: flex;
align-items: center;
justify-content: center;
margin-left: 50px;



}

.p-acc-settings-item {

font-size: 15px;
color: black;


}

#dropdown-basic-button {


font-size: 12px;


}