/*nadpis na pc 35px
popis 15px*/



/*main section*/
.main-section-row {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 100px;
    background-image: url(../../images/home/main-background.png);
    z-index: -50;



}

.col-main-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 200px;
    box-shadow: 0px 0px 153px -30px rgba(0, 0, 0, 0.75);
    animation: float 3s infinite;
    background-color: white;

}

.col-main-section-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 30%;


}


.main-img {

    width: 400px;
    height: 450px;

}

.main-button {


    background-color: yellow;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;

}

.main-title {

    margin-bottom: 6px;
    font-size: 35px;
}

.main-paragraf {

    margin-bottom: 20px;
    font-size: 15px;
}

@keyframes float {
    0% {

        transform: translatey(0px);
    }

    50% {

        transform: translatey(-6px);
    }

    100% {

        transform: translatey(0px);
    }
}

/* benefits section*/
.benefits-section-row {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(0, 33, 65);
    height: 200px;
    margin-bottom: 50px;


}

.benefits-col {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;


}

.benefits-icon {

    font-size: 50px;
    color: yellow;


}

.benefits-text {

    color: aliceblue;
    margin-top: 10px;
    font-size: 20PX;

}

/*Testimonials*/
#testimonials-title {

    font-size: 35px;

}

#testimonials-paragaraf {

    font-size: 15px;

}

#note-icon {

    color: rgb(207, 207, 50);

}

.rounded-circle {

    border: 1px solid rgb(0, 0, 0);
}

#testimonials-card {

    background-color: rgb(0, 33, 65) !important;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 50px;
    box-shadow: 0px 0px 138px -52px rgba(0, 0, 0, 0.75);

}

#testimonials-img {

    background-color: rgb(0, 33, 65);

}

#testimonials-persone-name {

    color: aliceblue;
    font-size: 20px;

}

#testimonials-persone-recenz {

    color: rgb(199, 199, 199);
    font-size: 15px;

}

#testimonials-wrapper {

    padding: 0px !important;

}

/*clip-path*/
.clip-path-main {
    clip-path: polygon(100% 10%, 100% 91%, 100% 100%, 0% 100%, 0 12%, 53% 29%);
    height: 400px;
    background: rgb(0, 33, 65);
    position: relative;

}


/*Lasts courses section*/
#col-lasts-courses {

    width: 20%;
    margin-right: 10px;
    cursor: pointer;

}

#col-lasts-courses:hover {

    border: 1px solid yellow;
    padding-right: 0px;
    padding-left: 0px;

}

.lasts-courses-section {

    position: relative;
    bottom: 200px;

}

.lasts-courses-title {


    font-size: 35px;
    color: aliceblue;
    margin-bottom: 30px;

}

.courses-info-wrapper {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 170px;
    margin-left: 5px;
    border-top: 1px solid rgb(214, 214, 214);
    padding-top: 20px;

}

.courses-info-icon {

    font-size: 20px;
    color: rgb(141, 141, 14);
    margin-right: 5px;

}

.courses-info-paragraf {

    font-size: 15px;

}

.lasts-courses-heading {

    font-size: 20px;
    margin-top: 20px;

}

.courses-info-bold {

    font-weight: bolder;

}

.card-text {

    margin-bottom: 20px;

}

#lasts-courses-img {

    height: 270px;
    margin-top: 20px;


}