.p-courses-categories-all-without-sidebar {

display: flex;
flex-direction: column;
align-items: center;
justify-content: start;
margin-top: 80px;

}

.row-p-courses-categories {

display: flex;

}

#col-p-courses-categories {

width: 20%;
height: 500px;

}

#row-p-courses-categories {

justify-content: center;



}

.p-last-courses-title {
text-align: center;
font-size: 35px;

 
}

.wrapper-p-last-courses-title {

margin-top: 50px;

}





.courses-info-wrapper {

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 170px;
  margin-left: 5px;
  border-top: 1px solid rgb(214, 214, 214);
  padding-top: 20px;

}

.courses-info-icon {

  font-size: 20px;
  color: rgb(141, 141, 14);
  margin-right: 5px;

}

.courses-info-paragraf {

  font-size: 15px;

}

.lasts-courses-heading {

  font-size: 20px;
  margin-top: 20px;

}

.courses-info-bold {

  font-weight: bolder;

}

.card-text {

  margin-bottom: 20px;

}

#lasts-courses-img {

  height: 270px;
  margin-top: 20px;


}

