.p-courses-categories-all-without-sidebar {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 80px;

}

.row-p-courses-categories {

  display: flex;

}

#col-p-courses-categories {

  width: auto;
  height: auto;
  height: 500px;
  cursor: pointer;
  padding: 0px !important;
  margin-left: 25px;
  margin-top: 25px;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

}

#col-p-courses-categories:hover {

  border: 2px solid yellow;

}

#row-p-courses-categories {

  justify-content: start;

}

.p-last-courses-title {
  text-align: center;
  font-size: 35px;


}

.wrapper-p-last-courses-title {

  margin-top: 50px;

}


#private-courses-categories-nameofcourse {

  text-align: center;
  font-size: 17px;
  font-weight: 600;

}

.courses-info-wrapper {

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 170px;
  margin-left: 5px;
  border-top: 1px solid rgb(214, 214, 214);
  padding-top: 20px;

}

.courses-info-icon {

  font-size: 20px;
  color: rgb(141, 141, 14);
  margin-right: 5px;

}

.courses-info-paragraf {

  font-size: 15px;

}

.lasts-courses-heading {

  font-size: 20px;
  margin-top: 20px;

}

.courses-info-bold {

  font-weight: bolder;

}

.card-text {

  margin-bottom: 20px;

}

#lasts-courses-img {

  height: 270px;
  margin-top: 20px;

}

.private-courses-categories-space {

margin-bottom: 100px;

}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}