.css-1wvake5 {

height: 100vh;

}

.css-dip3t8  {
display: flex;
flex-direction: column;
padding-top: 50px;
width: 100%;

}

.sidebar-title {

text-align: center;
font-size: 25px;


}

.sidebar-hr-line {

margin-bottom: 50px;



}