.footer-logo {

    width: 200px;
    cursor: pointer;


}


.footer-section {

    height: 250px;
    background-color: rgb(0, 33, 65);

}

.footer-row {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 250px;


}

.cols-footer-wrapper {

    display: flex;
    width: 600px;

}

.col-items-1 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;


}

.col-items-2 {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;

}

.col-footer-brand {
    display: flex;
    justify-content: start;
    width: 30%;

}

.footer-item  {

    margin-top: 20px;
    color: rgb(175, 175, 175);
}

.footer-item-n {

color: rgb(175, 175, 175);


}



.footer-item:hover, .footer-item-n:hover {

color: white;
transition: 3s initial;


}

.item-title-1, .item-title-2 {


color: aliceblue;
margin-bottom: 10px;
text-decoration: underline;


}

.footer-copyright {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 22, 44);
    color: aliceblue;
    height: 80px;

}

.copyright-section {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgb(0, 33, 65);
    padding-bottom: 50px;
    padding-top: 50px;
    border-top: 1px solid rgb(56, 56, 56);

}

.footer-text {

    color: aliceblue;
}






/*footer social icons section*/

.footer-socials-section {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.col-social-text {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;


}

.col-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 50px;

}

.social-text {

    color: aliceblue;
    margin-right: 20px;


}

.social-wrapper {

width: 50%;

}

.social-icon {

    margin-right: 20px;
    font-size: 40px;
    color: antiquewhite;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.love-text {

display: flex;
justify-content: end;
color: aliceblue;
width: 500px;




}

.hearth-icon {

margin: 0px 5px

}