#section-footer {

    padding-top: 60px;
    background: rgb(0, 33, 65) !important;
}

#row-footer-links {

    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#wrapper-footer-down {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.col1-footer-copyright {

    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;

}

.col2-footer-copyright {

    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    


}

#footer-email-input {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px !important;
    border:none !important;
    outline: none !important;
    vertical-align: middle;
    box-shadow: 0px 0px 23px -7px rgba(255,234,0,1);
    background-color: white;
    color: black;
    border-radius: 20px;

}

#footer-subscribe-button {

    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    margin: auto;

}

#col-footer-subscribe-button {

    display: flex;
    align-items: center;


}

#footer-subscribe-paragraf {


    font-size: 13px;
    color: rgb(240, 243, 255);
    text-decoration: underline;

}

#footer-li {

text-align: start;
font-size: 15px;
margin-top: 10px;



}

#footer-item-link {


font-size: 18px;


}

#footer-socials-icons {

color: rgb(192, 192, 4);
font-size: 11px;



}

#section-footer-socials-icons {

display: flex;
justify-content: center;
align-items: center;
margin:0px !important;

}

.paragraf-col2-footer-copyright {

margin: 0px;
margin-right: 10px;
font-size: 16px;


}

.footer-text {
margin: 0px;
font-size: 16px;

}
