*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.nav__link {

  cursor: pointer;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background: rgb(0, 33, 65);
}

.nav__brand {
  text-transform: uppercase;
  color: rgb(251, 255, 18);
  ;
}

.login-btn {

  color: black;

}

.login-btn-background {

  padding: 10px 20px;
  background-color: yellow;
  border-radius: 10px;
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

.login-btn-background:hover {
  animation: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav__toggler {
  display: none;
}

.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

.nav__item a {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 4px 0;
}

.nav__item a::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ddd014;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.nav__item a:hover::before {
  transform: scale3d(1, 1, 1);
}

.nav__itemn a::before {

  background: #E91E63;
  transform-origin: 100% 50%;

}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 212, 119, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(235, 235, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(219, 219, 219, 0);
  }
}



@media screen and (max-width: 1000px) {

  .nav__toggler {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    justify-content: center;
    z-index: 2;
    top: 10vh;
    right: 0;
    height: 93vh;
    width: 200px;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid green;
    ;

  }

  .nav {

    position: fixed;
    width: 100%;
    z-index: 4;

  }

}





/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}