* {

margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: sans-serif, 

}

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {

font-size: 15px;


}




a {

font-size: 20px;
cursor: pointer;

}

h6 {

font-size: 20px;

}

textarea:focus, input:focus{
  outline: none;

  border: 1px solid rgb(0, 0, 0);
}


