body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {

font-size: 20px;
cursor: pointer;

}

h6 {

font-size: 20px;

}

textarea:focus, input:focus{
  outline: none;

  border: 1px solid rgb(0, 0, 0);
}


